@model OjVolunteer.Model.UserInfo



@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


@section Script{
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    @* js插件 挂了 找这个html2canvas.js 版本 0.5.0-beta4  *@
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdn.bootcss.com/Base64/1.0.2/base64.js"></script>

    <script src="~/Content/qrcode/qrcode.js"></script>
    <script src="~/Scripts/App/watermark.js"></script>

    <script>
        function checktime() {


            if (@ViewBag.Total< 50) {
                //时长不足50小时的情况
                var time = 50 - @ViewBag.Total;
                layer.msg("暂时不能申请，还需要继续志愿者服务时长" + time + "小时");

            } else {
                //满足50小时的情况

                $.post("/UserInfo/CheckIDcard", { ownerid: @Model.UserInfoID }, function (data) {
                    if (data["msg"] == "success") {
                        layer.msg("申请成功");
                        document.getElementById("showresult").innerHTML = "正在申请中";
                        document.getElementById("btnapply").setAttribute("style", "color:grey");
                        document.getElementById("btnapply").setAttribute("disabled", "disabled");
                    }
                    else if (data["msg"] == "have") {
                        layer.msg("已拥有，请勿重复申请");
                    }
                    else {
                        layer.msg("申请失败 请稍后重试");
                    }
                });



                //var vtrp = document.getElementById("vtrp");
                //html2canvas(vtrp, {
                //    onrendered: function (canvas) { //添加属性
                //        canvas.setAttribute('id', 'thecanvas'); //读取属性值
                //        //var value= canvas.getAttribute('id');
                //        document.getElementById('images').innerHTML = '';
                //        document.getElementById('images').appendChild(canvas);
                //    }
                //});

                //var oCanvas = document.getElementById("thecanvas");
                ///*自动保存为png*/
                //// 获取图片资源
                //var img_data1 = Canvas2Image.saveAsPNG(oCanvas, true).getAttribute('src');
                //saveFile(img_data1, 'vtrp.png');
            }






        }


        @*function showresult() {
            if (@ViewBag.Total< 50) {
                document.getElementById("showresult").innerHTML = "暂时无法申请电子义工证";
                document.getElementById("btnapply").setAttribute("value", "还需" + (50 - @ViewBag.Total ) + "小时即可申请");
                document.getElementById("btnapply").setAttribute("style", "color:grey");
                document.getElementById("btnapply").setAttribute("disabled", "disabled");
            } else {
                stu = @ViewBag.CardStatus +0;
                if ("@Model.UserInfoIDcard" == "" && stu == 0) {
                    document.getElementById("showresult").innerHTML = "可申请电子义工证";
                } else if ("@Model.UserInfoIDcard" != "" && stu == 0) {
                    document.getElementById("showresult").innerHTML = "目前无可申请电子义工证";
                    document.getElementById("btnapply").setAttribute("style", "color:grey");
                    document.getElementById("btnapply").setAttribute("disabled", "disabled");
                } else if ( stu == 1) {
                    document.getElementById("showresult").innerHTML = "正在申请中";
                    document.getElementById("btnapply").setAttribute("style", "color:grey");
                    document.getElementById("btnapply").setAttribute("disabled", "disabled");
                }

            }

        }
        showresult();*@


    </script>


    <style>
        img {
            width: 100%;
        }
    </style>
    <header>
        <nav class="top">
            <p>电子义工证</p>
        </nav>
    </header>

    <div style="margin-top:50px ;width:100vw">

        <h4 style="text-align: center; padding-bottom:10px">

            你好，@Model.UserInfoShowName ，你的服务总时长为 @ViewBag.Total 小时
            <br>
            <br>

        </h4>

        @*<dl class="dl-horizontal" style="text-align: center;">

                <dt>
                    <img src="@Model.UserInfoIDcard">
                    <h3 id="show">小时</h3>
                    @Html.DisplayNameFor(model => model.UserInfoShowName)
                </dt>
            </dl>*@
    </div>

    @* 电子义工证图片内容*@
    @*<div class="layui-row">
        <div style="position:relative;width:400px" id="vtrp">
            <div style="position:relative;z-index:0;width:400px"><img src="~/img/bgimg.png"></div>
            <p style="position:absolute;top:100px;margin-left:150px;font-size:40px">@Model.UserInfoShowName</p>
            <div style="position:absolute;top:99px;margin-left:40px;width:60px"><img src="@Model.UserInfoIcon"></div>
            <div id="qrcode" style="position:absolute;top:10px;margin-left:335px;width:60px"></div>
            <p style="position:absolute;top:155px;margin-left:160px;font-size:22px">@Model.UserInfoIDcard</p>
        </div>
    </div>*@
    <div class="layui-row">
        <div style="position:relative;width:100%" id="vtrp">
            <div style="position:relative;z-index:0;width:100%"><img src="~/img/bgimg.png"></div>
            <p style="position:absolute;top:37.5%;margin-left:37.5%;font-size:10vw">@Model.UserInfoShowName</p>
            <div style="position:absolute;top:37%;margin-left:10%;width:15%"><img src="@Model.UserInfoIcon"></div>
            <div id="qrcode" style="position:absolute;top:10px;margin-left:83.75%;width:15%"></div>
            <p style="position:absolute;top:59%;margin-left:40%;font-size:5vw">@Model.UserInfoIDcard</p>
        </div>
    </div>

    <input type="button" id="btnapply" value="申请电子义工证" onclick="checktime()">

    <script>
        var domain = "http://50hours.top";
        var url = "/UserInfo/Other/?id="+@Model.UserInfoID;
        var URL = domain + url;
        new QRCode(document.getElementById("qrcode"), URL);  // 设置要生成二维码的链接

    </script>

    @*new QRCode(document.getElementById("qrcode"), url);*@




    @*<div style="position:relative;z-index:1;"><img src="~/img/zhang.gif" ></div>*@

    @*<div id="text"></div>
        <div style="text-align: center;" id="qrcode"></div>
        <div id="demo_div" style="width: 100vw "></div>*@
    <!--<div><img src="~/Content/oj/images/yg01.jpg" class="watermark" pagespeed_url_hash="3591179686"  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></div>
        -->
    @*<script>

            function wm(username){
                if (@ViewBag.Total< 50) {
                    alert("暂无图片");
                } else {

                   // some = (watermark.text.center(username, '200px bold', '#000', 1), watermark.image.upperRight(0.5));
                    watermark(['/Content/oj/images/yg1.jpg'])
                        .image(watermark.text.center(username, '30px bold', '#000', 1))
                        .then(function (img) {
                            document.getElementById('text').appendChild(img);

                        });

                }

            }
            // document.getElementById("qrcode").lastChild.src

           // wm("@Model.UserInfoShowName");




        /*    watermark(['/Content/oj/images/ID.jpg'])
                .image(watermark.text.center('MyPhoto', '55px bold', '#000', 1))
                .then(function (img) {
                    document.getElementById('text').appendChild(img);
                });
                var load = false;
                            window.onload = function () {
                                if (!load) {
                                    wmark.init({ "position": "top-left", "opacity": 70, "className": "watermark", "path": "http://www.patrick-wied.at/static/watermarkjs/demos/img/qr.png" });
                                    load = true;
                                }
                            }
        */
        </script>*@


}
